.button {
    display: inline-flex;
    flex: 1;
    background-color: #f5f5f5;
}

.button button {
    font-size: 1.5rem;
    flex: auto;
    background-color: transparent;
}

.button.number {
    background-color: #fcfcfc;
}
