.button-panel, .button-panel > div, .button-group, .button-group > div, .button-result {
    display: flex;
}

.button-panel {
    flex: auto;
    flex-wrap: wrap;
    flex-direction: column;
}

.button-panel > div {
    width: 100%;
}

.button-panel .grid-1 {
    flex: 1;
}

.button-panel .grid-2 {
    flex: 2;
}

.button-group {
    flex: 3;
    flex-direction: column;
}

.button-group > div {
    flex: 1;
}

.button-result {
    flex: 1;
}
